/* -------------------------------------------
          _components.main-header.scss
---------------------------------------------*/

.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $main-header-height;
    padding: $main-header-padding 1rem;
    margin: 0;
    z-index: 1; // nav-bar stays on top of both plans and bg-image
    font-size: .9rem;
    background: $color-brand;
}

.main-header__hamburger {
    @include ib();

    @include respond-to('non-mobile') {
        display: none;
    }
}

/* a */
.main-header__brand {
    color: $color-brand-much-darker;

    // The required alt attribute specifies an alternate text
    // for an image, if the image cannot be displayed.
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;

    // now we can set height in percentages on the img element
    @include ib();

    width: $main-header-logo-width;
    height: $main-header-content-height;

    img {
        height: 100%;
        // img elements cannot be positioned and sized like bg-images
        // (negative) margins is about the only hack that works
        //margin-top: -10px;
    }
}
