/* -------------------------------------------
          _components.flag.scss
---------------------------------------------*/

// Alternative Media Object
// Credits: https://csswizardry.com/2013/05/the-flag-object/

.flag {
  display: table;
  width: 100%;
}

.flag__image,
.flag__body {
  display: table-cell;
  vertical-align: middle;

  .flag--top & {
    vertical-align: top;
  }

  .flag--bottom & {
    vertical-align: bottom;
  }
}

.flag__image {
  padding-right: $base-spacing-unit;

  > img {
    display: block;
    max-width: none;
  }

  .flag--rev & {
    padding-left: $base-spacing-unit;
    padding-right: 0;
  }
}

.flag__body {
  width: 100%;
}
