/* -------------------------------------------
          _components.backdrop.scss
---------------------------------------------*/

// TODO: This is a state (probably used by javascript) or a modifier of a block

// OBS: The ::backdrop CSS pseudo-element is a box the size of the viewport
// which is rendered immediately beneath any element being presented in
// full-screen mode. The ::backdrop pseudo-element makes it possible to obscure,
// style, or completely hide everything located below the element when it's
// the topmost one in the top layer.
.backdrop {
  // OBS: position: fixed => containing block is the viewport, so no real difference between % and vw/vh
  // width: 100%;
  // height: 100%;
  background: $color-shadow;
  display: none;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: z('backdrop');
}
