/* -------------------------------------------
          _components.main-footer.scss
---------------------------------------------*/

.main-footer {
  background-color: $color-black;
  margin-top: $main-footer-top-margin;
  padding: $main-footer-padding;
}

.main-footer__links {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.main-footer__link {
  margin: 1rem 0;

  @include respond-to('non-mobile') {
    display: inline-block;
    margin: 0 1rem;
  }
}

// specificity (0, 1, 1) here
.main-footer__link > a {
  color: $color-white;
  text-decoration: none;

  &:link,
  &:hover {
    color: $color-gray-lighter;
  }
}
