/* -------------------------------------------
          main-header (BEM)
---------------------------------------------*/

.main-header {
    position: fixed;
    top: 0;
    left: 0;
    height: $main-header-height;
    width: 100%;
    background: $color-brand;
    padding: $main-header-padding-height 16px;
    margin: 0;
    z-index: 1; // nav-bar stays on top of both plans and bg-image
}

 /* brand/logo */
.main-header > div {
    /* OBS: Inline-block elements are similar to inline eleme{nts, except they can have padding and margins added on all four sides. */
    display: inline-block;
    vertical-align: middle;
}

/* a */
.main-header__brand {
    color: $color-brand-much-darker;

    // The required alt attribute specifies an alternate text
    // for an image, if the image cannot be displayed.
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;

    // now we can set height in percentages on the img element
    display: inline-block;
    width: $main-header-logo-width;
    height: $main-header-content-height;

    img {
        height: 100%;
        // img elements cannot be positioned and sized like bg-images
        // (negative) margins is about the only hack that works
        //margin-top: -10px;
    }
}

/* -------------------------------------------
          backdrop (BEM)
---------------------------------------------*/

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: $color-shadow;
}


/* -------------------------------------------
          main-nav (BEM)
---------------------------------------------*/

/* nav */
.main-nav {
    display: inline-block;
    vertical-align: middle;
    text-align: right; /* PROBLEM: nav is inline-block and therefore the width is determined by its content */
    width: calc(100% - #{$main-header-logo-width + 10px}); /* PROBLEM: inline-block element need more subtracted than width of div because of white-space between div and nav elements */
}

/* ul */
.main-nav__items {
    /* Because we want to control width we have to reset (user agent )margin */
    margin: 0;
    padding: 0;
    list-style: none;
}

/* li */
.main-nav__item {
    display: inline-block;
    margin-left: 16px; /* IMPORTANT: margin is not part of width */
}

.main-nav__item a {
    color: $color-brand-much-darker;
    text-decoration: none;
    font-weight: bold;
    padding-bottom: 2px;
}

.main-nav__item a:hover,
.main-nav__item a:active {
    color: $color-white;
    border-bottom: 5px solid $color-white;
}

/* call to action */
/* same specificity as the rules for anchors inside normal main-nav__item so source code order matters */
.main-nav__item--cta a {
    color: $color-white;
    background: $color-red;
    padding: 8px 16px;
    border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
    color: $color-red;
    background: $color-white;
    border: none;
}

/*
To style links appropriately, put the :hover rule after the :link and :visited rules
but before the :active one, as defined by the LVHA-order: :link — :visited — :hover — :active.
*/
/*
.main-nav__item a:link {color: blue;}
.main-nav__item a:visited {color: purple;}
.main-nav__item a:hover {color: red;}
*/

/* By moving the link 1 pixel to the right and 1 pixel down it will appear that the
   link is being pushed like a button when clicked */
/* .main-nav__item a:active {color: yellow;position:relative;top:1px;left:1px;} */

/* tabbing to a link with the keyboard */
/* .main-nav__item a:focus {color: red;} */


/* -------------------------------------------
          main-footer (BEM)
---------------------------------------------*/

.main-footer {

    background-color: black;
    padding: 16px;
    margin-top: 28px;

    &__links {
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;
    }

    &__link {
        display: inline-block;
        margin: 0 16px;

        // specificity (0,1,1) here
        & > a {
            color: $color-white;
            text-decoration: none;

            &:link,
            &:hover {
                color: $color-gray-lighter;
            }
        }
    }

}
