/* -------------------------------------------
             product-overview
---------------------------------------------*/

.product-overview {
    background: url("../img/freedom.jpg");
    width: 100%;
    height: 528px;
    padding: 10px;
}

.product-overview__title {
    color: white;
    font-family: 'Anton', sans-serif;
}
