/* -------------------------------------------
          _components.key-features.scss
---------------------------------------------*/

.key-features {
    background: $color-red;
    margin-top: 5rem;
    padding: 1rem;
}

.key-features__title {
    color: $color-white;
    margin: 2rem;
    text-align: center;
}

.key-features__items {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center; /* works because li elements are turned into inline-block */
}

.key-features__item {
    display: inline-block;
    width: 30%;
    vertical-align: top;
}

.key-features__image {
    background: $color-red-light;
    width: 8rem;
    height: 8rem;
    border: 2px solid $color-gray-dark;
    border-radius: 50%; // circle trick
    margin: 0 auto; /* center horizontally on the x-axis */
    padding: 1.25rem; // to minimize svg images
}

.key-features__description {
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
    color: $color-white;
}
