/* -------------------------------------------
          _components.backdrop.scss
---------------------------------------------*/

// TODO: This is a state (probably used by javascript) or a modifier of a block

// OBS: The ::backdrop CSS pseudo-element is a box the size of the viewport
// which is rendered immediately beneath any element being presented in
// full-screen mode. The ::backdrop pseudo-element makes it possible to obscure,
// style, or completely hide everything located below the element when it's
// the topmost one in the top layer.
.backdrop {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    z-index: z('backdrop');
    width: 100vw;
    height: 100vh;
    // OBS: position: fixed => containing block is the viewport, so no real difference between % and vw/vh
    // width: 100%;
    // height: 100%;
    background: $color-shadow;
}
