/* -------------------------------------------
          plans module/component (BEM)
---------------------------------------------*/

.plans__title {
    color: $color-brand;
    font-weight: bold;
    text-align: center;
}

.plans__list {
    width: 80%;
    margin: 0 auto;     // centrer selve .plans__list elementet
    text-align: center; // centrer .plan elementerne (de er inline-block)
}

/* -------------------------------------------
          plan module/component (BEM)
---------------------------------------------*/

.plan {
    background: $color-brand-light;
    text-align: center;
    padding: 16px;
    margin: 8px;
    display: inline-block;
    width: 30%;
    vertical-align: middle;
}

.plan__title {
    color: $color-brand-much-darker;
}

.plan__price {
    color: $color-gray-light;
}

/* multiple classes architecture => specificity higher */
.plan--highlighted {
    background: $color-brand-dark;
    color: $color-white;
    box-shadow: 2px 2px 2px 2px $color-shadow;
}

/* multiple classes architecture => specificity higher */
.plan--highlighted .plan__title {
    color: $color-white;
}

/* multiple classes architecture => specificity higher */
.plan--highlighted .plan__price {
    color: $color-brand-much-darker;
}

/*
The above is one of a few occasions where we’d use a descendant
selector to modify an Element based on a Modifier on the Block.

If using Sass, we would likely write this like so:

.plan { }

  .plan__title {

    .plan--highlighted & { } // [2]

  }

.plan--highlighted { } // [1]

Note that we do not nest a new instance of .plan__title {} inside
of .plan--highlighted {} [1]. instead, we make use of Sass’ parent selectors
to prepend .plan--highlighted onto the existing .plan__title {} selector [2].
This means that all of our .plan__highlighted {}-related rules exist in
one place, and aren’t spread throughout the file.

This is general good practice when dealing with nested code: keep all of
your context (e.g. all .plan__highlighted {} code) encapsulated in one location.
*/

.plan__annotation {
    color: $color-brand-dark;
    background: $color-white;
    padding: 8px;
    box-shadow: 2px 2px 2px 2px $color-shadow;
    border-radius: 8px;
}

.plan__features {
    list-style: none;
    margin: 0;
    reset: 0;
}

.plan__feature {
    margin: 8px 0;
}
