/* -------------------------------------------
          _components.modal.scss
---------------------------------------------*/

.modal {
  position: fixed;
  display: none;
  z-index: z('modal');
  top: 20%;
  left: 30%;
  width: 40%;
  background: $color-white;
  padding: 1rem;
  border: 1px solid $color-gray-lighter;
  box-shadow: 1px 1px 1px $color-shadow;
}

.modal__title {
  text-align: center;
  margin: 0 0 1rem;
}

.modal__actions {
  text-align: center;
}

.modal__action {
  border: 1px solid $color-brand-much-darker;
  background: $color-brand-much-darker;
  text-decoration: none;
  color: $color-white;
  font: inherit;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.modal__action:hover,
.modal__action:active {
  background: $color-brand;
  border-color: $color-brand;
}

.modal__action--negative {
  background: color-red;
  border-color: color-red;
}

.modal__action--negative:hover,
.modal__action--negative:active {
  background: $color-red-highligt;
  border-color: $color-red-highligt;
}
