/* -------------------------------------------
          _components.package.scss
---------------------------------------------*/

.packages-overview {
    background: url("../img/plans-background.jpg") center/cover;
    filter: grayscale(100%); // IE doesn't support this (needs polyfill)
    @include background-image-container($height: 100vh);
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1; // image stays behind the plans
}

.packages {
    padding: 0;
    @include below-main-header();
    @include clearfix;
}

/* -------------------------------------------
          package (BEM)
---------------------------------------------*/

.package {
    position: relative; // positioning context
    border: 4px solid $color-brand-much-darker;
    border-left: none;
    margin: 1rem 0;
    width: 80%;
    max-width: 60rem;
    z-index: 0;

    // because the link is the entire box
    &:hover,
    &:active {
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); // x-offset y-offset blur-radius color
        border-color: $color-red-highligt;
    }

    & > a {
        text-decoration: none;
        display: block; // make the entire box a link
        padding: 2rem;
        color: inherit; // no cascaded value, inherit from parent instead of using user agent stylesheet value
    }

    &__badge {
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        margin: 0; // h1 by default has top/bottom-margin
        padding: .5rem;
        font-size: .8rem;
        color: $color-white;
        background-color: $color-red;
        z-index: 10;
    }

    &__subtitle {
        color: $color-gray-light;
    }

    &__info {
        color: $color-brand-much-darker;
        font-size: 1.25rem;
        background: $color-white;
        border: 1px solid $color-brand-much-darker;
        padding: 1rem;
    }

    // override color of the title for premium
    .package--premium &__title {
        color: $color-white;
    }
}

// Define bg-color for the 3 boxes

// TODO: Could just use 3 classes...no need to define 6 classes
//       because package is always either plus, free or premium

.package--plus {
    float: left;
    background-color: rgba($color-brand-light, 0.95);
}

.package--free {
    background-color: rgba($color-brand-light, 0.95);
    float: right;
    border-right: none;
    border-left: 4px solid $color-brand-much-darker;
    //text-align: right;
}

.package--premium {
    float: left;
    background-color: rgba($color-brand-much-darker, 0.95);
}

// borders on all sides for huge devices
@include respond_to('huge') {
    .packages {
        margin: 4rem auto;
        max-width: $screen-huge-width;
    }
    .package {
        border-left: 4px solid $color-brand-much-darker;
    }
    .package--free {
        border-right: 4px solid $color-brand-much-darker;
    }
}
