/* -------------------------------------------
             product-overview
---------------------------------------------*/

.product-overview {
    @include background-image("../img/freedom.jpg", $height: 528px);
    position: relative;
}

.product-overview__title {
    color: $color-white;
    font-family: 'Anton', sans-serif;
    position: absolute;
    bottom: 10%;
    left: 5%;
    padding: 0;
    margin: 0; // reset h1 user-agent margin
}

