/* -------------------------------------------
          _components.buttons.scss
---------------------------------------------*/

.button {
  background-color: $color-bg-btn;
  border: 1.5px solid $color-bg-btn;
  border-radius: $base-radius; // keep pixels here
  color: $color-btn;
  cursor: pointer;
  font: inherit; /* override font styles in user agent with our body styles */
  font-weight: bold;
  padding: 0.5rem;
}

.button:hover,
.button:active {
  background-color: $color-bg-btn-hover;
  color: $color-btn-hover;
}

.button:focus {
  outline: none;
}

/* -------------------------------------------
   .toggle-button (hamburger) is only displayed
   in the mobile viewport. This behaviour is
   not part of the button class, but styled
   through a container element
---------------------------------------------*/

.toggle-button {
  background: transparent;
  border: 0;
  cursor: pointer;
  padding-bottom: 0;
  padding-top: 0;
  vertical-align: middle;
  width: $main-header-hamburger-width;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button__bar {
  background: $color-black;
  display: block;
  height: 0.1rem;
  margin: 0.4rem 0;
  width: 100%;
}
