/* -------------------------------------------
          _components.signup.scss
---------------------------------------------*/

.signup {
  padding-top: $rem-spacing-unit;
}

.signup__title {
  font-size: 2rem;
  text-align: center;
  color: $color-red;
}

// Layout form elements

.signup__form {
  padding: 1rem;
}

.signup__form label,
.signup__form input,
.signup__form select {
  display: block;
  margin-top: 1rem;
  width: 100%;
}

.signup__form [type='checkbox'],
.signup__form [type='checkbox'] + label {
  display: inline-block;
  width: auto;
  vertical-align: bottom;
}

.signup__form [type='submit'] {
  display: block;
  margin-top: 1rem;
}

// restyling form elements

// Important pseudo classes (used to define special state of form controls)
//
// CSS 2.1
//    :active,
//    :hover
//    :focus
//
// CSS Selector Level 3
//    :enabled
//    :disabled
//    :checked      <-- radio and checkbox form controls
//    :indeterminate
//
// CSS Basic UI Level 3
//    :default
//    :invalid <-- This will depend on the validation constraints imposed by the type or pattern attribute value.
//    :valid
//    :required
//    :optional
//    :in-range <-- range, number, and date input controls with min and/or max attribute values
//    :out-of-range
//    :read-only
//    :read-write
//
// CSS Selector Level 4
//    :user-error
//
// NOTE: form controls have many states at the same time => Bewarse of specificity in style definitions

// Important HTML5 attributes
//    disabled
//    invalid
//    required
//    readonly

.signup__form label {
  font-weight: bold;
}

.signup__form input:not([type='checkbox']),
.signup__form select {
  border: 1px solid $color-gray-lighter;
  padding: 0.2rem 0.5rem;
  //font: inherit; // This is done in _elements.base.scss

  &:focus {
    outline: none;
    background: $color-brand-light;
    border-color: $color-brand; // specificity = (0, 2, 1)
  }
}

.signup__form [type='checkbox'] {
  border: 1px solid $color-gray-lighter;
  background: $color-white;
  width: 1rem;
  height: 1rem;
  // Autoprefixer will create these for us
  // -webkit-appearance: none;
  // -moz-appearance: none;
  // CSS Basic User Interface Module Level 4
  // Unfortunately, styling radio controls and checkboxes in most browsers is difficult.
  // **CSS Basic User Interface Module Level 4** attempts to address this with the
  // appearance property, but this property is not yet supported. WebKit/Blink-based browsers
  // and Firefox do, however, support nonstandard, vendor-prefixed versions of it.
  appearance: none; // gain (almost full) control over the checkbox widget.

  &:focus {
    outline: none;
    background: $color-brand-light;
    border-color: $color-brand;
  }

  &:checked {
    background: $color-brand;
    border-color: $color-brand-much-darker;
  }
}

// media query

@include respond-to('non-mobile') {
  .signup__form {
    margin: auto;
    width: 30rem;
  }
}

// validation helpers

// move to trumps/utilities/helpers
// TODO: learn more about HTML5 forms: required attribute
.signup__form :invalid, // browser automatically validates email
.invalid {
  border-color: $color-red !important;
  background: $color-red-light !important;
}
