/* -------------------------------------------
          _elements.base.scss
---------------------------------------------*/

html {
  font-size: ($base-font-size / 16px) * 1em;
  line-height: ($base-line-height / $base-font-size);
}

body {
  font-family: 'Montserrat', sans-serif;
}

// TODO: Investigate Normalize.css by Nicolas Gallagher
// override font styles in user agent with our body font-family
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}
