$main-header-height: 2.5rem;
$non-mobile-main-header-height: 3.5rem;

// TODO: Padding stoerre end .3 rem goer .main-nav teksten
$main-header-padding-height: .2rem;
$non-mobile-main-header-padding-height: .3rem;

// This is the length required to render the alt text of the logo image
// This langth actually ruins the main-nav component for small screen widths
$main-header-hamburger-width: 2.4rem;
$non-mobile-main-header-hamburger-width: 3rem;

$main-header-logo-width: 3rem;
$non-mobile-main-header-logo-width: 4rem;

$main-header-content-height: $main-header-height - 2 * $main-header-padding-height;
$non-mobile-main-header-content-height: $non-mobile-main-header-height - 2 * $non-mobile-main-header-padding-height;

$plan-max-width: 25rem;



$z-index-modal:    200;
$z-index-backdrop: 100;
$z-index-mobile-nav: 101;




$base-font-size:    16px;
$base-line-height:  24px;

$base-radius:       8px;

// TODO: Should be used for margin, padding in elements,components....investigate inuitcss
$base-spacing-unit: $base-line-height;



//
// RWD -- Media Queries (breakpoints)
//

// Better values
//   $screen-medium-width: 768px;   // (~tablet)
//   $screen-large-width:  1024px;   // (~desktop)

$screen-medium-width: 40rem;   // 640px (~tablet)
$screen-large-width:  60rem;   // 960px (~desktop)

// If you use a 'mobile-first' approach, the folowing breakpoints should suit you well
// since you won’t need anything else than min-width media queries.
$breakpoints: (
    // untraditional breakpoint naming, because this is a course that teaches the mobile-first approach
    'non-mobile': '(min-width: #{$screen-medium-width})',
//   'large': '(min-width: #{$screen-large-width})',
);

// NOTE: Nested maps are also possible
// $breakpoints: (
//   'medium': (min-width: 800px),
//   'large': (min-width: 1000px),
//   'huge': (min-width: 1200px),
// );

// mobile-first (min-width) breakpoints
$mf-breakpoints: (
  'small'  : 767px,
  'medium' : 992px,
  'large'  : 1200px
);

