$main-header-height: 3rem;
$main-header-padding-height: .5rem;
$main-header-content-height: $main-header-height - 2 * $main-header-padding-height;

// This is the length required to render the alt text of the logo image
// This langth actually ruins the main-nav component for small screen widths
$main-header-logo-width: 8rem;
