// Color palette
$color-brand:             #2ddf5c;
$color-brand-light:       #d5ffdc;
$color-brand-dark:        #19b84c;
$color-brand-much-darker: #0e4f1f;

$color-white:           #fff;
$color-black:           #000;

$color-gray:            #666;
$color-gray-light:      #979797;
$color-gray-lighter:    #ccc;
$color-gray-dark:       #424242;

$color-red:             #ff1b68;
$color-red-light:       #ffcede;
$color-red-highligt:    #ff5454;

$color-highlight:       rgba(255, 255, 255, 0.05);

$color-shadow-dark:     rgba(0, 0, 0, 0.7);
$color-shadow:          rgba(0, 0, 0, 0.5);
$color-shadow-light:    rgba(0, 0, 0, 0.3);

// Buttons
$color-btn:          $color-white;
$color-bg-btn:       $color-brand-much-darker;
$color-btn-hover:    $color-brand-much-darker;
$color-bg-btn-hover: $color-white;

// Not used (colors from SMACSS video)
$color-link:  #039;
$color-link-subdued: #666;
$color-link-cancel: #900;
