/* -------------------------------------------
          _tools.nav-links.scss
---------------------------------------------*/

@mixin nav-links {
    color: $color-brand-much-darker;
    text-decoration: none;
    font-weight: bold;
    padding-bottom: .2rem;
}

@mixin nav-links--cta {
    color: $color-white;
    background: $color-red;
    padding: .5rem 1rem;
    border-radius: $base-radius;
}

@mixin nav-links-hover--cta {
    color: $color-red;
    background: $color-white;
    border: none;
}


