@mixin below-main-header {
    // main-header (logo + main-nav) is taking out of the flow with poition: fixed
    margin-top: $main-header-height;
    @include respond_to('non-mobile') {
        margin-top: $non-mobile-main-header-height;
    }
}

@mixin background-image-container($height) {
    width: 100vw;
    height: $height;
    @include below-main-header();
}

// -----------------------------------------------------------------------------------------------
//    Definition: Containing Block (CB)
//    =================================
//
// position: fixed           => %-lengths is relative to the viewport (CB == Viewport)
// position: absolute        => %-lengths is relative to the positioning context (PC)
//                              ancestor element (base-lengths == **padding-box** of CB element)
// position: relative/stativ => %-lengths is relative to the first block-level ancestor element.
//                              (base lengths == **content-box** of CB element)
// ------------------------------------------------------------------------------------------------


// ------------------------------------------------------------------------------------------------
// BROWSER HACK ON WINDOWS
// =======================
//
// Hiding Scrollbars on Windows machines
//
// After adding 'vw', you probably saw that the scrollbars appeared in case you
// are working on Windows. This happens as using 'vw' on Windows does not include
// the scrollbars -- 'vw: 100' is equal to 100% of the viewport width + the scrollbars.
//
// On the Mac this is not an issue, but when using Windows it is as the scrollbars are displayed by default.
//
// In case you don't want to display these scrollbars, you can use one of these solutions:
//
// 1. Use 'width: 100%' instead of 'vw: 100'
//
// 2. Add 'overflow-x: hidden;' to the body selector to hide the horizontal scrollbar (or 'overflow-y: hidden'
// to hide the vertical scrollbar)
//
// 3. Alternatively you could also use the ::-webkit-scrollbar pseudo element. Simply add the following
//
//     body: :-webkit-scrollbar {
//         width: 0
//     }
//
// To make sure this works correctly on different browsers, you have to add additional code to it. This
// blog post (https://blogs.msdn.microsoft.com/kurlak/2013/11/03/hiding-vertical-scrollbars-with-pure-css-in-chrome-ie-6-firefox-opera-and-safari/)
// nicely summarizes all the code needed right here.
//
// Make sure to follow these approaches in case you don't want to display the scrollbars on Windows machines.
// ------------------------------------------------------------------------------------------------
